@font-face {
  font-family: 'icomoon';
  src:
  url('fonts/icomoon.ttf?3b2ao5') format('truetype'),
  url('fonts/icomoon.woff?3b2ao5') format('woff'),
  url('fonts/icomoon.svg?3b2ao5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.crt-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.crt-icon-awards:before {
  content: "\e91e";
}
.crt-icon-education:before {
  content: "\e93e";
}
.crt-icon-user-card:before {
  content: "\e93f";
}
.crt-icon-faq:before {
  content: "\e941";
}
.crt-icon-interests:before {
  content: "\e942";
}
.crt-icon-language:before {
  content: "\e943";
}
.crt-icon-price:before {
  content: "\e944";
}
.crt-icon-recom:before {
  content: "\e945";
}
.crt-icon-services:before {
  content: "\e946";
}
.crt-icon-switcher:before {
  content: "\e948";
}
.crt-icon-calendar:before {
  content: "\e91b";
}
.crt-icon-donation:before {
  content: "\e926";
}
.crt-icon-animal-lover:before {
  content: "\e912";
}
.crt-icon-island:before {
  content: "\e913";
}
.crt-icon-library:before {
  content: "\e914";
}
.crt-icon-bbq:before {
  content: "\e917";
}
.crt-icon-buddhism:before {
  content: "\e918";
}
.crt-icon-cafe:before {
  content: "\e919";
}
.crt-icon-dentist:before {
  content: "\e920";
}
.crt-icon-fast-food:before {
  content: "\e921";
}
.crt-icon-garden:before {
  content: "\e924";
}
.crt-icon-karaoke:before {
  content: "\e925";
}
.crt-icon-playground:before {
  content: "\e927";
}
.crt-icon-christian:before {
  content: "\e928";
}
.crt-icon-jewish:before {
  content: "\e929";
}
.crt-icon-muslim:before {
  content: "\e92a";
}
.crt-icon-restaurant:before {
  content: "\e92b";
}
.crt-icon-shop:before {
  content: "\e92c";
}
.crt-icon-skiing:before {
  content: "\e92d";
}
.crt-icon-tennis:before {
  content: "\e92f";
}
.crt-icon-theatre:before {
  content: "\e930";
}
.crt-icon-bicycle:before {
  content: "\e931";
}
.crt-icon-chef:before {
  content: "\e932";
}
.crt-icon-dancer:before {
  content: "\e933";
}
.crt-icon-fishing:before {
  content: "\e934";
}
.crt-icon-hiking:before {
  content: "\e935";
}
.crt-icon-horse-riding:before {
  content: "\e936";
}
.crt-icon-hunting:before {
  content: "\e937";
}
.crt-icon-party:before {
  content: "\e938";
}
.crt-icon-canoe:before {
  content: "\e939";
}
.crt-icon-swimming:before {
  content: "\e93a";
}
.crt-icon-skydiving:before {
  content: "\e93b";
}
.crt-icon-surfing:before {
  content: "\e93c";
}
.crt-icon-contact:before {
  content: "\e904";
}
.crt-icon-arrow-flat-left:before {
  content: "\e90d";
}
.crt-icon-arrow-flat-right:before {
  content: "\e90e";
}
.crt-icon-quote:before {
  content: "\e90a";
}
.crt-icon-side-bar-icon:before {
  content: "\e900";
}
.crt-icon-references:before {
  content: "\e901";
}
.crt-icon-portfolio:before {
  content: "\e902";
}
.crt-icon-experience:before {
  content: "\e903";
}
.crt-icon-blog:before {
  content: "\e905";
}
.crt-icon-arrow-page-up:before {
  content: "\e906";
}
.crt-icon-about:before {
  content: "\e907";
}
.crt-icon-sports-shoe:before {
  content: "\e910";
}
.crt-icon-bowling:before {
  content: "\e911";
}
.crt-icon-baseball:before {
  content: "\e915";
}
.crt-icon-soccer-court:before {
  content: "\e916";
}
.crt-icon-basketball:before {
  content: "\e91a";
}
.crt-icon-golf:before {
  content: "\e91c";
}
.crt-icon-table-tennis:before {
  content: "\e91d";
}
.crt-icon-football:before {
  content: "\e91f";
}
.crt-icon-walk:before {
  content: "\e922";
}
.crt-icon-chevron-thin-right:before {
  content: "\e90b";
}
.crt-icon-chevron-thin-left:before {
  content: "\e90c";
}
.crt-icon-chevron-thin-down:before {
  content: "\e908";
}
.crt-icon-dots-three-horizontal:before {
  content: "\e909";
}
.crt-icon-tv:before {
  content: "\e923";
}
.crt-icon-bed:before {
  content: "\e90f";
}
.crt-icon-question:before {
  content: "\f128";
}
.crt-icon-glass:before {
  content: "\f000";
}
.crt-icon-music:before {
  content: "\f003";
}
.crt-icon-heart:before {
  content: "\f004";
}
.crt-icon-film:before {
  content: "\f008";
}
.crt-icon-power-off:before {
  content: "\f011";
}
.crt-icon-home:before {
  content: "\f015";
}
.crt-icon-road:before {
  content: "\f018";
}
.crt-icon-headphones:before {
  content: "\f025";
}
.crt-icon-book:before {
  content: "\f02d";
}
.crt-icon-camera:before {
  content: "\f030";
}
.crt-icon-video-camera:before {
  content: "\f03d";
}
.crt-icon-image:before {
  content: "\f03e";
}
.crt-icon-pencil:before {
  content: "\f040";
}
.crt-icon-map:before {
  content: "\f041";
}
.crt-icon-gift:before {
  content: "\f06b";
}
.crt-icon-leaf:before {
  content: "\f06c";
}
.crt-icon-eye:before {
  content: "\f06e";
}
.crt-icon-plane:before {
  content: "\f072";
}
.crt-icon-shopping:before {
  content: "\f073";
}
.crt-icon-key:before {
  content: "\f084";
}
.crt-icon-thumbs-up:before {
  content: "\f087";
}
.crt-icon-thumbs-down:before {
  content: "\f088";
}
.crt-icon-heart-o:before {
  content: "\f08a";
}
.crt-icon-pin:before {
  content: "\f08d";
}
.crt-icon-trophy:before {
  content: "\f091";
}
.crt-icon-phone:before {
  content: "\f095";
}
.crt-icon-card:before {
  content: "\f09d";
}
.crt-icon-feed:before {
  content: "\f09f";
}
.crt-icon-bullhorn:before {
  content: "\f0a1";
}
.crt-icon-globe:before {
  content: "\f0ac";
}
.crt-icon-wrench:before {
  content: "\f0ad";
}
.crt-icon-filter:before {
  content: "\f0b0";
}
.crt-icon-briefcase:before {
  content: "\f0b1";
}
.crt-icon-people:before {
  content: "\f0c0";
}
.crt-icon-chain:before {
  content: "\f0c1";
}
.crt-icon-cloud:before {
  content: "\f0c2";
}
.crt-icon-flask:before {
  content: "\f0c3";
}
.crt-icon-cut:before {
  content: "\f0c4";
}
.crt-icon-files:before {
  content: "\f0c5";
}
.crt-icon-paperclip:before {
  content: "\f0c6";
}
.crt-icon-magic:before {
  content: "\f0d0";
}
.crt-icon-truck:before {
  content: "\f0d1";
}
.crt-icon-money:before {
  content: "\f0d6";
}
.crt-icon-gavel:before {
  content: "\f0e3";
}
.crt-icon-dashboard:before {
  content: "\f0e4";
}
.crt-icon-comment:before {
  content: "\f0e5";
}
.crt-icon-flash:before {
  content: "\f0e7";
}
.crt-icon-sitemap:before {
  content: "\f0e8";
}
.crt-icon-umbrella:before {
  content: "\f0e9";
}
.crt-icon-stethoscope:before {
  content: "\f0f1";
}
.crt-icon-suitcase:before {
  content: "\f0f2";
}
.crt-icon-bell:before {
  content: "\f0f3";
}
.crt-icon-coffee:before {
  content: "\f0f4";
}
.crt-icon-fighter-jet:before {
  content: "\f0fb";
}
.crt-icon-beer:before {
  content: "\f0fc";
}
.crt-icon-laptop:before {
  content: "\f109";
}
.crt-icon-mobile-phone:before {
  content: "\f10b";
}
.crt-icon-folder:before {
  content: "\f114";
}
.crt-icon-folder-open:before {
  content: "\f115";
}
.crt-icon-game:before {
  content: "\f11b";
}
.crt-icon-keyboard:before {
  content: "\f11c";
}
.crt-icon-flag:before {
  content: "\f11e";
}
.crt-icon-location-arrow:before {
  content: "\f124";
}
.crt-icon-info:before {
  content: "\f129";
}
.crt-icon-exclamation:before {
  content: "\f12a";
}
.crt-icon-microphone:before {
  content: "\f130";
}
.crt-icon-fire-extinguisher:before {
  content: "\f134";
}
.crt-icon-rocket:before {
  content: "\f135";
}
.crt-icon-anchor:before {
  content: "\f13f";
}
.crt-icon-unlock:before {
  content: "\f140";
}
.crt-icon-pagelines:before {
  content: "\f18c";
}
.crt-icon-space-shuttle:before {
  content: "\f197";
}
.crt-icon-slack:before {
  content: "\f198";
}
.crt-icon-bank:before {
  content: "\f19c";
}
.crt-icon-graduation-cap:before {
  content: "\f19d";
}
.crt-icon-car:before {
  content: "\f1b9";
}
.crt-icon-tree:before {
  content: "\f1bb";
}
.crt-icon-life-bouy:before {
  content: "\f1cd";
}
.crt-icon-send-o:before {
  content: "\f1d9";
}
.crt-icon-ball:before {
  content: "\f1e3";
}
.crt-icon-binoculars:before {
  content: "\f1e5";
}
.crt-icon-plug:before {
  content: "\f1e6";
}
.crt-icon-brush:before {
  content: "\f1fc";
}
.crt-icon-cake:before {
  content: "\f1fd";
}
.crt-icon-diamond:before {
  content: "\f219";
}
.crt-icon-user-secret:before {
  content: "\f21b";
}
.crt-icon-motorcycle:before {
  content: "\f21c";
}
.crt-icon-heartbeat:before {
  content: "\f21e";
}
.crt-icon-venus:before {
  content: "\f221";
}
.crt-icon-mars:before {
  content: "\f222";
}
.crt-icon-scale:before {
  content: "\f24e";
}
.crt-icon-wheelchair:before {
  content: "\f29b";
}
.crt-icon-question-circle:before {
  content: "\f29c";
}
.crt-icon-blind:before {
  content: "\f29d";
}
.crt-icon-ad:before {
  content: "\f29e";
}
.crt-icon-phone-volume:before {
  content: "\f2a0";
}
.crt-icon-braille:before {
  content: "\f2a1";
}
.crt-icon-assistive-listening-systems:before {
  content: "\f2a2";
}
.crt-icon-sign-language-o:before {
  content: "\f2a3";
}
.crt-icon-deaf:before {
  content: "\f2a4";
}
.crt-icon-sign-language:before {
  content: "\f2a8";
}
.crt-icon-low-vision:before {
  content: "\f2a9";
}
.crt-icon-handshake:before {
  content: "\f2b5";
}
.crt-icon-shower:before {
  content: "\f2cc";
}
.crt-icon-snowflake:before {
  content: "\f2dc";
}
.crt-icon-search:before {
  content: "\f002";
}
.crt-icon-user:before {
  content: "\f007";
}
.crt-icon-check:before {
  content: "\f00c";
}
.crt-icon-close:before {
  content: "\f00d";
}
.crt-icon-volume-up:before {
  content: "\f028";
}
.crt-icon-chevron-left:before {
  content: "\f053";
}
.crt-icon-chevron-right:before {
  content: "\f054";
}
.crt-icon-chevron-up:before {
  content: "\f077";
}
.crt-icon-chevron-down:before {
  content: "\f078";
}
.crt-icon-twitter:before {
  content: "\f099";
}
.crt-icon-facebook:before {
  content: "\f09a";
}
.crt-icon-github:before {
  content: "\f09b";
}
.crt-icon-rss:before {
  content: "\f09e";
}
.crt-icon-google-plus:before {
  content: "\f0d5";
}
.crt-icon-caret-down:before {
  content: "\f0d7";
}
.crt-icon-caret-up:before {
  content: "\f0d8";
}
.crt-icon-caret-left:before {
  content: "\f0d9";
}
.crt-icon-caret-right:before {
  content: "\f0da";
}
.crt-icon-linkedin:before {
  content: "\f0e1";
}
.crt-icon-angle-left:before {
  content: "\f104";
}
.crt-icon-angle-right:before {
  content: "\f105";
}
.crt-icon-angle-up:before {
  content: "\f106";
}
.crt-icon-angle-down:before {
  content: "\f107";
}
.crt-icon-github-alt:before {
  content: "\f113";
}
.crt-icon-html5:before {
  content: "\f13b";
}
.crt-icon-css3:before {
  content: "\f13c";
}
.crt-icon-youtube:before {
  content: "\f167";
}
.crt-icon-xing:before {
  content: "\f168";
}
.crt-icon-dropbox:before {
  content: "\f16b";
}
.crt-icon-stack-overflow:before {
  content: "\f16c";
}
.crt-icon-instagram:before {
  content: "\f16d";
}
.crt-icon-flickr:before {
  content: "\f16e";
}
.crt-icon-bitbucket:before {
  content: "\f171";
}
.crt-icon-tumblr:before {
  content: "\f173";
}
.crt-icon-apple:before {
  content: "\f179";
}
.crt-icon-windows:before {
  content: "\f17a";
}
.crt-icon-android:before {
  content: "\f17b";
}
.crt-icon-linux:before {
  content: "\f17c";
}
.crt-icon-dribbble:before {
  content: "\f17d";
}
.crt-icon-skype:before {
  content: "\f17e";
}
.crt-icon-foursquare:before {
  content: "\f180";
}
.crt-icon-vk:before {
  content: "\f189";
}
.crt-icon-try:before {
  content: "\f195";
}
.crt-icon-wordpress:before {
  content: "\f19a";
}
.crt-icon-yahoo:before {
  content: "\f19e";
}
.crt-icon-google:before {
  content: "\f1a0";
}
.crt-icon-reddit:before {
  content: "\f1a1";
}
.crt-icon-stumbleupon:before {
  content: "\f1a4";
}
.crt-icon-delicious:before {
  content: "\f1a5";
}
.crt-icon-digg:before {
  content: "\f1a6";
}
.crt-icon-pied-piper:before {
  content: "\f1a7";
}
.crt-icon-drupal:before {
  content: "\f1a9";
}
.crt-icon-cube:before {
  content: "\f1b2";
}
.crt-icon-cubes:before {
  content: "\f1b3";
}
.crt-icon-behance:before {
  content: "\f1b4";
}
.crt-icon-soundcloud:before {
  content: "\f1be";
}
.crt-icon-vine:before {
  content: "\f1ca";
}
.crt-icon-jsfiddle:before {
  content: "\f1cc";
}
.crt-icon-git:before {
  content: "\f1d3";
}
.crt-icon-hacker-news:before {
  content: "\f1d4";
}
.crt-icon-qq:before {
  content: "\f1d6";
}
.crt-icon-wechat:before {
  content: "\f1d7";
}
.crt-icon-share:before {
  content: "\f1e0";
}
.crt-icon-pinterest:before {
  content: "\f231";
}
.crt-icon-whatsapp:before {
  content: "\f232";
}
.crt-icon-y-combinator:before {
  content: "\f23b";
}
.crt-icon-trademark:before {
  content: "\f25c";
}
.crt-icon-registered:before {
  content: "\f25d";
}
.crt-icon-cc:before {
  content: "\f25e";
}
.crt-icon-gg:before {
  content: "\f260";
}
.crt-icon-tripadvisor:before {
  content: "\f262";
}
.crt-icon-odnoklassniki:before {
  content: "\f263";
}
.crt-icon-amazon:before {
  content: "\f270";
}
.crt-icon-vimeo:before {
  content: "\f27d";
}
.crt-icon-reddit-alien:before {
  content: "\f281";
}
.crt-icon-bluetooth:before {
  content: "\f294";
}
.crt-icon-gitlab:before {
  content: "\f296";
}
.crt-icon-glide:before {
  content: "\f2a6";
}
.crt-icon-snapchat:before {
  content: "\f2ab";
}
.crt-icon-yoast:before {
  content: "\f2b1";
}